<head>
    <link rel="stylesheet" href="assets/login.component.css">
</head>

<br>
<br>
<div class="grid-container">
    <div class="item1">
        <img src="assets/otter.png" alt="logo" class="center" height="250">
    </div>
    <div class="item2">
        <form class="gform">
            <h1>Inicia sesión </h1>
            <br>
            <div>
                <label for="email">E-mail: </label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="name">Contrasena: </label>
                <input type="password" id="pwd" name="pwd" minlength="8" maxlength="30" required>
            </div>
            <div class="button">
                <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Iniciar sesión</a>
            </div>
        </form>
        <div>
            <p> ¿No tienes una cuenta? <a routerLink="/registro">Registrate. </a>
                <p>
        </div>
    </div>
    <div class="item3">
        <img src="assets/penguin.png" alt="logo" class="center" height="250">
    </div>